<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.linka.business.mapper.ThemeMapper">

    <select id="queryTheme" resultType="com.cn.linka.business.dao.ThemeDao">
        select * from theme
    </select>
    <insert id="insert" parameterType="com.cn.linka.business.dao.ThemeDao">
        INSERT INTO `theme` (
            `theme_name`,
            `theme_type`,
            `theme_status`,
            `theme_url`,
            `theme_thumbnail_url`,
            `create_dt`
        )
        VALUES
            (
                #{themeName},
                #{themeType},
                #{themeStatus},
                #{themeUrl},
                #{themeThumbnailUrl},
                #{createDt}
            );

    </insert>
    <update id="update" parameterType="com.cn.linka.business.dao.ThemeDao">
        update theme
        <set>
            <if test="themeName != null and themeName != ''">theme_name = #{themeName},</if>
            <if test="themeType != null and themeType != ''">theme_type = #{themeType},</if>
            <if test="themeStatus != null and themeStatus != ''">theme_status = #{themeStatus},</if>
            <if test="themeUrl != null and themeUrl != ''">theme_url = #{themeUrl},</if>
            <if test="themeThumbnailUrl != null and themeThumbnailUrl != ''">theme_thumbnail_url = #{themeThumbnailUrl}</if>
        </set>
        where id = #{id}
    </update>
</mapper>
