<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.linka.business.mapper.UserPortalMapper">

    <insert id="insert" parameterType="com.cn.linka.business.bean.UserPortalBean">
        INSERT INTO `user_portal` (
            `user_id`,
            `domain`,
            `index_url`,
            `all_msg`,
            `default_theme_id`,
            `create_dt`
        )
        VALUES
            (
                #{userId},
                #{domain},
                #{indexUrl},
                #{allMsg},
                #{defaultThemeId},
                #{createDt}
            )
    </insert>

    <select id="selectByUserId" parameterType="java.lang.String" resultType="com.cn.linka.business.bean.UserPortalBean">
        select * from user_portal where user_id = #{userId}
    </select>
    <select id="getPortalByIndex" parameterType="java.lang.String" resultType="com.cn.linka.business.bean.UserPortalBean">
        select * from user_portal where index_url = #{index}
    </select>

    <update id="portalUpdate" parameterType="com.cn.linka.business.bean.UserPortalBean">
        update user_portal
        <set>
            <if test="domain != null and domain != ''">`domain` = #{domain},</if>
            <if test="indexUrl != null and indexUrl != ''">index_url = #{indexUrl},</if>
            <if test="allMsg != null and allMsg != ''">all_msg = #{allMsg},</if>
            <if test="defaultThemeId != null and defaultThemeId != ''">default_theme_id = #{defaultThemeId}</if>
        </set>
        where user_id = #{userId}
    </update>
</mapper>
