<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cn.linka.business.mapper.UserOrderMapper">

    <select id="queryAllByUserId" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where user_id = #{userId}
    </select>
    <select id="getEffectOrder" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where user_id = #{userId} and order_status = 1 and end_dt > now() order by end_dt desc;
    </select>
    <select id="queryAllByOrderId" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where user_id = #{userId} and order_id=#{orderId}
    </select>
    <select id="getOrderPage" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where user_id = #{userId} and id > #{nextId} order by create_dt desc limit #{pageSize};
    </select>
    <select id="getTotalSizeByUserId" resultType="java.lang.Integer">
        select count(1) from member_order where user_id = #{userId};
    </select>
    <select id="getOrderPageNo" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where user_id = #{userId} order by create_dt desc limit #{startNo}, #{pageSize};
    </select>
    <select id="queryByOrderId" resultType="com.cn.linka.business.bean.UserOrderBean">
        select * from member_order where order_id=#{orderId}
    </select>

    <insert id="insert" parameterType="com.cn.linka.business.bean.UserOrderBean">
        INSERT INTO `member_order` (
            `order_id`,
            `user_id`,
            `order_status`,
            `member_menu_id`,
            `create_dt`,
            `update_dt`
        )
        VALUES
            (
                #{orderId},
                #{userId},
                #{orderStatus},
                #{memberMenuId},
                #{createDt},
                #{updateDt}
            );

    </insert>
    <update id="updateStatus" parameterType="com.cn.linka.business.bean.UserOrderBean">
        update member_order
        <set>
            order_status = 1,
            complete_dt = NOW(),
            <if test="endDt != null">end_dt = #{endDt},</if>
            <if test="otherId != null and otherId != ''">other_id = #{otherId}</if>
        </set>
        where order_id = #{orderId}
    </update>
    <update id="syncOtherId" parameterType="com.cn.linka.business.bean.UserOrderBean">
        update member_order
        <set>
            <if test="otherId != null and otherId != ''">other_id = #{otherId}</if>
        </set>
        where order_id = #{orderId}
    </update>
    <update id="updateStatusByOrderId" parameterType="com.cn.linka.business.bean.UserOrderBean">
        update member_order
        <set>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
        </set>
        where order_id = #{orderId}
    </update>
</mapper>
